# tex file versions of Rnw files
NimbleUserManual.tex
MCMC.tex
chapter_*.tex
.Rhistory

# testing files for MCMC chapter
includesMCMConly*
scriptBuildMCMCchapter.R

# Latex output files
*.aux
*.out
*.log
*.toc
figure
